# Labels Check

In [1]:
import os
import pandas as pd

In [4]:
PROCESSED_DIR = "../../DAiSEE/Processed"
Train_df = pd.read_csv(os.path.join(PROCESSED_DIR, "Train_labels.csv"))
Test_df = pd.read_csv(os.path.join(PROCESSED_DIR, "Test_labels.csv"))
Val_df = pd.read_csv(os.path.join(PROCESSED_DIR, "Validation_labels.csv"))

In [5]:
len(Train_df), len(Test_df), len(Val_df)

(5482, 1784, 1720)

In [6]:
all_df = pd.concat([Train_df, Test_df, Val_df], ignore_index=True)

In [7]:
len(all_df)

8986

In [18]:
# Pivot table to check each label 
pivot_table = all_df.melt(id_vars=['ClipID'], var_name='Label', value_name='Level') \
    .groupby(['Label', 'Level']).size().unstack(fill_value=0)
pivot_table

Level           0     1     2     3
Label
Boredom      3844  2886  1924   332
Confusion    5986  2155   745   100
Engagement     61   458  4443  4024
Frustration  6930  1629   340    87